<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aa.bb.cc.mapper.CoinUserMapper">

<!--  -->
<select id="email_double_check" resultType="int">
	SELECT COUNT(*) FROM coinchat.coin_user 
	WHERE coin_user_email = #{coin_user_email}
</select>
<!--  -->
<select id="phone_double_check" resultType="int">
	SELECT COUNT(*) FROM coinchat.coin_user 
	WHERE coin_user_phone = #{coin_user_phone}
</select>
<!-- 회원가입OK 정보Insert -->
<insert id="join_ok">
	INSERT INTO coinchat.coin_user 
		VALUES(
			coin_user_seq,
			#{coin_user_email},
			#{coin_user_pw},
			#{coin_user_name},
			#{coin_user_birth},
			#{coin_user_phone},
			#{coin_user_alarmYN},
			now(),
			coin_user_status,
			coin_user_adminYN
		)
</insert>
<!-- 로그인 CHECK -->
<select id="login_check" resultType="int">
	SELECT COUNT(*) FROM coinchat.coin_user
	WHERE coin_user_email = #{coin_user_email} 
	AND coin_user_pw = #{coin_user_pw}
</select>
<!-- 관리자 로그인 CHECK -->
<select id="login_check_admin" resultType="String">
	SELECT coin_user_adminYN FROM coinchat.coin_user 
	WHERE coin_user_email = #{coin_user_email}
</select>
<!-- 마이페이지 -->
<select id="get_my_info" resultType="hashmap">
	SELECT coin_user_email, coin_user_pw, coin_user_name,
		coin_user_birth, coin_user_phone, coin_user_alarmYN 
	FROM coinchat.coin_user 
	WHERE coin_user_email = #{coin_user_email}
</select>
<!-- 마이페이지-이름변경 -->
<update id="change_user_name">
	UPDATE coinchat.coin_user SET coin_user_name = #{coin_user_name}
	WHERE coin_user_email = #{coin_user_email} 
</update>
<!-- 마이페이지-패스워드변경 -->
<update id="change_user_pw">
	UPDATE coinchat.coin_user SET coin_user_pw = #{coin_user_pw} 
	WHERE coin_user_email = #{coin_user_email}
</update>
<!-- 마이페이지 폰번호변경 -->
<update id="change_user_phone">
	UPDATE coinchat.coin_user SET coin_user_phone = #{coin_user_phone} 
	WHERE coin_user_email = #{coin_user_email}
</update>
<!-- 아이디(이메일주소)찾기-이름이랑 핸드폰번호 일치여부 -->
<select id="find_email" resultType="int">
	SELECT COUNT(coin_user_email) 
	FROM coinchat.coin_user 
	WHERE coin_user_name = #{coin_user_name}
	  AND coin_user_phone = #{coin_user_phone}
</select>
<!-- 아이디(이메일주소)찾기 -->
<select id="find_email_from_phone" resultType="String">
	SELECT coin_user_email 
	FROM coinchat.coin_user
	WHERE coin_user_phone = #{coin_user_phone}
</select>
<!-- 패스워드찾기-이메일이랑 폰번호 일치여부 -->
<select id="find_pw_from_email_phone" resultType="int">
	SELECT COUNT(*) 
	FROM coinchat.coin_user 
	WHERE coin_user_email = #{coin_user_email}
	  AND coin_user_phone = #{coin_user_phone}
</select>
<!-- 비밀번호찾기 후, 임시비밀번호 폰번호로 전송(기존비번 업데이트) -->
<update id="change_user_new_pw">
	UPDATE coinchat.coin_user SET coin_user_pw = #{coin_user_pw}
	WHERE coin_user_email = #{coin_user_email}
	  AND coin_user_phone = #{coin_user_phone}
</update>

<!-- 밑에부터는 관리자(ADMIN) -->

<!-- 관리자페이지 유저 Count -->
<select id="userCountList" resultType="int">
	SELECT COUNT(*) FROM coinchat.coin_user
</select>
<!-- 관리자페이지 유저 List -->
<select id="user_all_list" resultType="hashmap" parameterType="hashmap">
	SELECT coin_user_seq, coin_user_email, 
		   coin_user_name, coin_user_phone
	FROM coinchat.coin_user ORDER BY coin_user_seq DESC 
	limit #{pageStart}, #{perPageNum}
</select>
<!-- 관리자페이지 회원정보 상세보기 -->
<select id="admin_user_info_detail" resultType="aa.bb.cc.dto.CoinUserDto">
	SELECT * 
	FROM coinchat.coin_user 
	WHERE coin_user_seq=#{coin_user_seq}
</select>

<!-- 알람설정 알람 N 로 바꾸기 -->
<update id="change_user_alarmN">
	UPDATE coinchat.coin_user SET coin_user_alarmYN = #{coin_user_alarmYN}
	WHERE coin_user_email = #{coin_user_email}
</update>
<!-- 알람설정 알람 Y 로 바꾸기 -->
<update id="change_user_alarmY">
	UPDATE coinchat.coin_user SET coin_user_alarmYN = #{coin_user_alarmYN}
	WHERE coin_user_email = #{coin_user_email}
</update>
</mapper>