<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Bootstrap Switch</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/alarm_css.css">

</head>

<body>
 <div class="container" style="position:relative; top: 100px">
  <div class="row"><div class="clearfix"></div>
 <div class="col-sm-12">
	<label class="label-switch switch-primary">
	<input type="checkbox" class="switch switch-bootstrap status" name="status" id="status" value="1" checked="checked">
	<span class="lable"></span></label>
	
	<label class="label-switch switch-success">
	<input type="checkbox" class="switch switch-bootstrap status" name="status" id="status" value="1" checked="checked">
	<span class="lable"></span></label>
	
	<label class="label-switch switch-info">
	<input type="checkbox" class="switch switch-bootstrap status" name="status" id="status" value="1" checked="checked">
	<span class="lable"></span></label>
	
	<label class="label-switch switch-warning">
	<input type="checkbox" class="switch switch-bootstrap status" name="status" id="status" value="1" checked="checked">
	<span class="lable"></span></label>
	
	<label class="label-switch switch-danger">
	<input type="checkbox" class="switch switch-bootstrap status" name="status" id="status" value="1" checked="checked">
	<span class="lable"></span></label>
	
	
	</div>
	
	 <div class="col-sm-12">
	<label class="label-switch switch-primary">
	<input type="checkbox" class="switch-square switch-bootstrap status" name="status" id="status" value="1" checked="checked">
	<span class="lable"></span></label>
	
	<label class="label-switch switch-success">
	<input type="checkbox" class="switch-square switch-bootstrap status" name="status" id="status" value="1" checked="checked">
	<span class="lable"></span></label>
	
	<label class="label-switch switch-info">
	<input type="checkbox" class="switch-square switch-bootstrap status" name="status" id="status" value="1" checked="checked">
	<span class="lable"></span></label>
	
	<label class="label-switch switch-warning">
	<input type="checkbox" class="switch-square switch-bootstrap status" name="status" id="status" value="1" checked="checked">
	<span class="lable"></span></label>
	
	<label class="label-switch switch-danger">
	<input type="checkbox" class="switch-square switch-bootstrap status" name="status" id="status" value="1" checked="checked">
	<span class="lable"></span></label>
	</div>
</div>
	</div>
  
</body>
</html>
